extends layout

block script
  script(src="/socket.io/socket.io.js")
  script(type="text/coffeescript").
    socket = io.connect 'http://localhost:3000'
    chat = $ "#chat"
    nome = $ "#nome"
    msg = $ "#msg"

    chatMsg = (msg) -> chat.append msg

    socket.on 'recive-chat', chatMsg

    $('form').submit (e) ->
        e.preventDefault()
        chatMsg "<b>\#{nome.val()}:</b> \#{msg.val()}<br>"
        socket.emit 'send-chat', nome: nome.val(), msg: msg.val()
        msg.val ''

block content
  h4 Chat!
  pre#chat Bem vindo!
    br
  form
    input(type="hidden" id="nome" value=usuario)
    input(type="text" id="msg" placeholder="mensagem...").form-control
